# Set to a non-empty value to enable verbose logging
RITSU_DEBUG=1

# (required) Discord bot token
RITSU_DISCORD_BOT_TOKEN=

# (required) osu! oauth app credentials
# Needed for the bot to function properly
RITSU_OSU_OAUTH_CLIENT_ID=
RITSU_OSU_OAUTH_CLIENT_SECRET=

# (required) osu! irc credentials
# Needed for in-game match management to work
RITSU_OSU_IRC_USERNAME=
RITSU_OSU_IRC_PASSWORD=